<h1>Seja bem-vindo novamento {{users.name}}{{users.surname}}</h1>

<p>conteudo ....</p>

{{!-- repetição --}}
<ul>
    {{#each items}}
        <li>{{this}}</li>
    {{/items}}
</ul>
<a href="/">voltar a home ></a>